<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "HNclone", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right nav-pills">
         <li>Welcome!</li>
        </ul>
      </nav>
    </div>
  </div>
</header>